<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.clothing.mapper.AppUserMapper">
  <resultMap id="BaseResultMap" type="com.forum.clothing.model.AppUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_type" jdbcType="BIT" property="userType" />
    <result column="id_num" jdbcType="VARCHAR" property="idNum" />
    <result column="auth" jdbcType="BIT" property="auth" />
    <result column="auth_amount" jdbcType="BIGINT" property="authAmount" />
    <result column="invite_user_id" jdbcType="INTEGER" property="inviteUserId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" typeHandler="com.forum.clothing.config.Timestamp2LongHandler"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" typeHandler="com.forum.clothing.config.Timestamp2LongHandler"/>
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" typeHandler="com.forum.clothing.config.Timestamp2LongHandler"/>
    <result column="avatar_url" jdbcType="LONGVARCHAR" property="avatarUrl" />
    <result column="site_pic" jdbcType="LONGVARCHAR" property="sitePic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nick_name, telephone, user_code, user_type, id_num, auth, auth_amount, invite_user_id, 
    open_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    avatar_url, site_pic
  </sql>
  <select id="selectByOpenId" resultMap="BaseResultMap">
    select * from app_user where open_id = #{openId} limit 1
  </select>
</mapper>